<h3 id="title">Enter number of letters</h3>
<form id="grid-size-form" action="/new">
  <div class="form-group">
    <input class="form-control" type="text" name="size" placeholder="Number">
  </div>
  <button class="btn btn-primary" type="submit">Play!</button>
</form>
